@import "reset";
@import "grid";

body{
    font-family: Verdana, Tahoma;
}

h1{
    text-align: center;
    font-size: 62px;
    color: red;
    background-color: cadetblue; 
}

main{
    margin: 50px 0 0 0;
}

.accardion{
    text-align: center;
    ul{
        li{
            font-size: 14px;
            text-align: left;
            background: #e7e7e7;
            border-radius: 20px;
            &:hover{
                cursor: pointer;
            }
            &:nth-child(even) .title{
                background: #e7e7e7;
                color: #000;
            }
            .title{
                background: #696666;
                margin: 5px 0;
                padding: 20px;
                border-radius: 20px;
                color: #fff;
                h2{
                   &:after{
                        content: "";
                        border: 8px solid transparent;	
                        border-top: 8px solid #ff8663;
                       float: right;
                    } 
                }
            }
            .description{
                display: none;
                padding: 5px 20px 10px 20px;
                height: 100px;
                overflow: hidden;
                ul{
                    li{
                        margin: 7px 0;
                    }
                }
            }
        }
        li.active{
            .title{
                background: #ff8663;
                color: #fff;
                h2{
                   &:after{
                        border-bottom: 8px solid #fff;
                    } 
                }
            }
        }
    }
}